.card {
    background-color: black;
    padding: 1.5em;
    width: 18vw;
    border-radius: 2em;
    margin-right: 1em;
    margin-top: 1em;
}

.desc {
    overflow: scroll;
    height: 15em;
    scroll-behavior: smooth;

}

.members-div {
    overflow: scroll;
    scroll-behavior: smooth;
}