nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    color: white;
    text-decoration: none;

}

.links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.links ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.3rem;
}